apiVersion: v1

kind: Service

metadata:
  name: java-app-service
  namespace: {{ namespace }}

spec:

  selector:
    app: java-app

  type: NodePort

  ports:

  - port: {{ service_port }}

    targetPort: {{ container_port }}

    nodePort: 30080